<div class="alert alert-secondary">
    <a class="btn btn-dark" href="/contactos">Listado de contactos</a>
    &nbsp;&nbsp;
    <a class="btn btn-dark" href="/contactos/nuevo">Nuevo contacto</a>
    &nbsp;&nbsp;
    <a class="btn btn-dark" href="/contactos/login">Login</a>    
</div>